{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
          <h1>{% trans "Přihlaste se" %}</h1>

          <p>{% blocktrans %}Pokud tady ještě nemáte účet,
            <a href="{{ signup_url }}">založit účet.</a>{% endblocktrans %}</p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-primary" type="submit">{% trans "Přihlásit se" %}</button>
          </form>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
