{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Přehled</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Položka</th>
            <th scope="col">Cena</th>
            <th scope="col">Počet</th>
            <th scope="col">Celková cena za položku</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>{{ order_item.item.price }}</td>
            <td>{{ order_item.quantity }}</td>
            <td>
            {% if order_item.item.discount_price %}
                {{ order_item.get_total_discount_item_price }} Kč
                <span class="badge badge-primary">Ušetříte {{ order_item.get_amount_saved }} Kč</span>
            {% else %}
                {{ order_item.get_total_item_price }} Kč
            {% endif %}
            <a style='color: red;' href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Nákupní košík je prázdný</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/'>Pokračovat v nakupování</a>
            </td>
        </tr>
        {% endfor %}

        {% if object.get_total %}
        <tr>
            <td colspan="4"><b>Celková částka</b></td>
            <td><b>{{ object.get_total }} Kč</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/checkout/'>Pokračovat k objednávce</a>
            <a class='btn btn-primary float-right' href='/'>Pokračovat v nakupování</a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


